* {
    margin: 0;
    padding: 0;
}

.content-content {
    display: flex;
    margin: 9.26vh 7.45vw 5.93vh;
    /*----------ДОБАВИТЬ ПРИ АДАПТАЦИИ !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-----------*/
    height: calc(100vh - 190px - 100px);
    /*------------------------------*/
}

