* {
    margin: 0;
    padding: 0;
}

.content-content {
    margin: 12.13vh 7.45vw 10vh;
    height: calc(100% - 190px - 10vh);
    display: flex;
}

.content-content .photo {
    width: 25%;
    position: relative;
}

.content-content .text-background {
    width: 75%;
    display: flex;
    /*margin-right: 165px;*/
    /*margin-right: 50px;*/
    margin-right: 2.6vw;
    background: rgba(245, 245, 245, 0.82);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.content-content .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*margin: 45px 165px;*/
    margin: 4.17vh 8.6vw;
    color: #000000;
    font-family: Source Sans Pro;
    font-weight: 400;
    font-style: normal;
    /*font-size: 16px;*/
    font-size: 0.84vw;
}

.content-content .back a {
    text-decoration: none;
    color: #000000;
}

.content-content .text .top {
    display: flex;
    /*margin-bottom: 52px;*/
    height: 20%;
}

.content-content .text .top .back {
    width: 25%;
    font-weight: 600;
    font-size: 0.9vw;
    transition: .2s;
}

.content-content .text .top .back a:hover {
    transition: .2s;
    color: #6A6A6A;
}

.content-content .text .top .title {
    width: 50%;
    font-weight: 600;
    /*font-size: 24px;*/
    font-size: 1.25vw;
    text-align: center;
}

.content-content .text .top .time {
    width: 25%;
    font-weight: normal;
    text-align: right;
}

.content-content .text .main-text {
    height: 65%;
    font-weight: normal;
    /*font-size: 20px;*/
    font-size: 1.04vw;
}

.content-content .text .signature {
    height: 15%;
    font-weight: normal;
    /*font-size: 20px;*/
    font-size: 1.04vw;
}

.content-content .photo img {
    width: 100%;
    height: 100%;
}

.content-content .photo .bg {
    width: 100%;
    height: 100%;
}

.bg {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.22);
}