* {
    margin: 0;
    padding: 0;
}

.content-content a {
    text-decoration: none;
    color: #ffffff;
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 1.2em;
}

.content-content {
    margin: 12.13vh 7.45vw 5.93vh;
    height: calc(100% - 190px - 100px);
    display: grid;
    grid-template-areas:
            "other-products product-main";
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    grid-gap: 0;
}

.content-content .other-products {
    grid-area: other-products;
}

.content-content .product-main {
    grid-area: product-main;
}


.content-content .other-products {
    /* margin: 9.26vh 7.45vw 5.93vh; */
    margin-right: 4.8vw;
    height: 100%;
    display: grid;
    grid-template-areas:
            "column-first column-second"
            "column-first column-second";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 0;
}

.content-content .other-products .column-first .product{
    grid-area: column-first;
    margin-right: 3.23vw;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.content-content .other-products .column-first .product:first-child{
    margin-bottom: 7.4vh;
}

.content-content .other-products .column-second .product {
    grid-area: column-second;
    margin-left: 3.23vw;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.content-content .other-products .product a{
    z-index: 20;
    position: absolute;
}


.bg {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.22);
}

.front {
    z-index: 25;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content-content .other-products .product .product-title{
    bottom: 7.45%;
    left: 2%;
    margin-bottom: 15px;
    font-weight: bold;
}

.content-content .other-products .product .product-price{
    bottom: 3.37%;
    left: 2%;
    font-weight: 600;
}

.content-content .other-products .product .product-description{
    top: 3.37%;
    right: 2%;
    left: 10%;
    text-align: right;
    font-weight: 600;
}

.content-content .other-products .column-second .product:first-child {
    margin-bottom: 7.4vh;
}

.content-content .product-main {
    grid-area: product-main;
    position: relative;
}

.content-content .other-products img {
    width: 100%;
    height: 100%;
    z-index: 5;
}

.content-content .product-main img {
    width: 100%;
    height: 100%;
    z-index: 5;
}

.content-content .product-main a{
    z-index: 20;
    position: absolute;
}

.content-content .product-main .product-title {
    bottom: 7.45%;
    right: 2%;
    margin-bottom: 15px;
    font-weight: bold;
}

.content-content .product-main .product-price{
    bottom: 3.37%;
    right: 2%;
    font-weight: 600;
}

.content-content .product-main .product-description{
    top: 3.37%;
    right: 2%;
    left: 10%;
    text-align: right;
    font-weight: 600;
}