* {
    margin: 0;
    padding: 0;
}

.content-content a {
    text-decoration: none;
    color: #ffffff;
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 1.2em;
}

.content-content {
    margin: 12.13vh 7.45vw 5.93vh;
    height: calc(100% - 190px - 100px);
    display: grid;
    grid-template-areas:
            "other-products product-main";
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    grid-gap: 0;
}

.content-content .other-products {
    grid-area: other-products;
}

.content-content .product-main {
    grid-area: product-main;
}


.content-content .other-products {
    /* margin: 9.26vh 7.45vw 5.93vh; */
    margin-right: 4.8vw;
    height: 100%;
    display: grid;
    grid-template-areas:
            "column-first column-second"
            "column-first column-second";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 0;
}

.content-content .other-products .column-first .product {
    grid-area: column-first;
    margin-right: 3.23vw;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.content-content .other-products .column-first .product:first-child {
    margin-bottom: 7.4vh;
}

.content-content .other-products .column-second .product {
    grid-area: column-second;
    margin-left: 3.23vw;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.content-content .other-products .product a {
    z-index: 20;
    position: absolute;
}


.bg {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.22);
    transition: .2s;
}

.front {
    z-index: 25;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.front a {
    z-index: 25;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}

.product:hover .bg {
    transition: .2s;
    background: rgba(0, 0, 0, 0.4);
}

.product-main:hover .bg {
    transition: .2s;
    background: rgba(0, 0, 0, 0.4);
}

.content-content .other-products .product:hover .product-description {
    transition: .2s;
    visibility: visible;
}

.content-content .product-main:hover .product-description {
    transition: .2s;
    visibility: visible;
}

.content-content .other-products .product .product-title {
    bottom: 7.45%;
    left: 2%;
    margin-bottom: 15px;
    font-weight: bold;
}

.content-content .other-products .product .product-price {
    bottom: 3.37%;
    left: 2%;
    font-weight: 600;
}

.content-content .other-products .product .product-description {
    visibility: hidden;
    transition: .1s;
    top: 3.37%;
    right: 2%;
    left: 10%;
    text-align: right;
    font-weight: 600;
}

.content-content .other-products .column-second .product:first-child {
    margin-bottom: 7.4vh;
}

.content-content .product-main {
    grid-area: product-main;
    position: relative;
}

.content-content .other-products img {
    width: 100%;
    height: 100%;
    z-index: 5;
}

.content-content .product-main img {
    width: 100%;
    height: 100%;
    z-index: 5;
}

.content-content .product-main a {
    z-index: 20;
    position: absolute;
}

.content-content .product-main .product-title {
    bottom: 6%;
    right: 5%;
    margin-bottom: 15px;
    /* font-size: 32px; */
    font-size: 2em;
    font-weight: bold;
}

.content-content .product-main .product-price {
    bottom: 3.37%;
    right: 5%;
    /* font-size: 24px; */
    font-size: 1.5em;
    font-weight: 600;
}

.content-content .product-main .product-description {
    visibility: hidden;
    transition: .1s;
    top: 3.37%;
    right: 5%;
    left: 20%;
    text-align: right;
    font-size: 1.6em;
    font-weight: 600;
}

/* ----------------------MORE------------------ */
.more {
    display: flex;
    align-items: center;
    text-align: center;
    height: 5.65vh;
    width: 100%;
    margin-bottom: 6.4vh;
    flex-wrap: wrap;
}

.more:hover i {
    margin-top: .9vh;
    transition: .2s;
}

.more a {
    margin: auto;
    text-decoration: none;
    color: #4A4A4A;
    font-weight: 600;
    font-size: 1.4em;
    line-height: .3;
    font-family: Source Sans Pro;
    font-style: normal;
}


.more i {
    margin-top: 0;
    transition: .2s;
    color: #7A7A7A;
}