* {
    margin: 0;
    padding: 0;
}

.order {
    margin-right: 143px;
    margin-left: 1474px;
    height: calc(100% - 190px - 100px);
    position: fixed;
    display: flex;
    flex-direction: column;
}

.order .rating {
    display: flex;
    flex-direction: row;
}

.order a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

.order .rating a {
    font-size: 16px;
}

.order .stars {
    margin-left: 118px;
}

.order .stars i {
    font-size: 14px;
}

.order .title{
    font-family: Source Sans Pro;
    font-style: italic;
    font-size: 24px;   
    margin-top: 15px; 
}

.order .colors {
    font-size: 12px;
    margin-top: 10px;
}

.order .price {
    font-size: 22px;
    margin-top: 24px;
}

.order .buttons {
    margin-top: 20px;
    height: 51px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.buttons i {
    color: #ffffff;
}

/* -----------------------------Buy---------------- */
.buttons .buy {
    position: relative;
    width: 85%;
    margin-right: 12px;
    cursor: pointer;
}

.buttons .buy:hover .bg {
    transition: .3s;
    left: 0;
    bottom: 3px;
}

.buttons .buy .bg {
    transition: .3s;
    position: absolute;
    z-index: 5;
    width: 237px;
    height: 48px;
    left: 3px;
    bottom: 0;
    background-color: #6A6A6A;
}

.buttons .buy .front {
    position: absolute;
    width: 237px;
    height: 48px;
    z-index: 10;
    left: 0;
    bottom: 3px;
    background-color: #000000;
}

.buttons p {
    position: absolute;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    z-index: 15;
    bottom: 35%;
    left: 5%;
}

.buttons .buy i {
    position: absolute;
    font-size: 20px;
    z-index: 10;
    right: 10%;
    bottom: 35%;
}

/* ---------------------Like------------------------ */
.buttons .like {
    position: relative;
    width: 15%;
    cursor: pointer;
}

.buttons .like:hover .bg {
    transition: .3s;
    left: 0;
    bottom: 3px;
}

.buttons .like .bg {
    transition: .3s;
    position: absolute;
    z-index: 5;
    width: 48px;
    height: 48px;
    left: 3px;
    bottom: 0;
    background-color: #6A6A6A;
}

.buttons .like .front{
    position: absolute;
    width: 48px;
    height: 48px;
    z-index: 10;
    left: 0;
    bottom: 3px;
    background-color: #000000;
}

.buttons .like i {
    position: absolute;
    font-size: 28px;
    z-index: 10;
    left: 25%;
    bottom: 25%;
}

/* -----------------------------------Content------------------------- */
.content-content {
    margin: 12.13vh 7.45vw 5.93vh;
    height: calc(100% - 190px - 100px);
}

.description {
    margin-left: 82px;
    margin-right: 513px;
}

.description p {
    color: #000000;
}

.description .title {
    font-family: Source Sans Pro;
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    margin-top: 40px;
}

.description .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 6px;
}

/* ------------------------------Feedback----------------------------------- */
.feedback {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 68px;
    margin-top: 8px;
}

.feedback p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

/* ------------------------------------Rating-------------------------- */
.feedback .rating {
    background: #24DC6E;
    position: relative;
    width: 25%;
    height: 100%;
    margin-right: 70px;
}

.feedback .rating .num {
    position: absolute;
    bottom: 15%;
    left: 10%;
    font-weight: 500;
    font-size: 40px;
}

.feedback .rating .review {
    position: absolute;
    bottom: 20%;
    right: 15%;
    font-size: 14px;
}

.feedback .rating .stars {
    position: absolute;
    top: 30%;
    right: 15%;
}

.feedback .rating .stars {
    font-size: 14px;
}

/* ---------------------------------Sort------------- */
.feedback .latest {
    /* background: #24DC6E; */
    position: relative;
    width: 25%;
    height: 100%;
    margin-right: 35px;
}

.feedback .latest .bg{
    /* transition: .3s; */
    position: absolute;
    z-index: 5;
    /* width: 48px;
    height: 48px; */
    left: 3px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
}

.feedback .latest .front{

}

.feedback .useful {
    background: #24DC6E;
    position: relative;
    width: 25%;
    height: 100%;
    margin-right: 35px;
}

.feedback .popular {
    background: #24DC6E;
    position: relative;
    width: 25%;
    height: 100%;
    margin-right: 35px;
}