* {
    margin: 0;
    padding: 0;
}

.content-content {
    display: flex;
    margin: 9.26vh 7.45vw 5.93vh;
    height: calc(100vh - 190px - 100px);
}

.form-wrap h1 {
    font-family: Source Sans Pro;
    font-style: italic;
    /* font-size: 24px;    */
    font-size: 1.45vw;
    /* margin-top: 15px;  */
    margin-top: 1.4vh;
}

/* -----------------------------Buy---------------- */
.form-wrap .send {
    position: relative;
    width: 9.9vw;
    display: block;
    height: calc(5vh + 3px);
    /* margin-right: 12px; */
    /*margin-right: 0.625vw;*/
    cursor: pointer;
}

.form-wrap .send:hover .bg {
    transition: .3s;
    left: 0;
    top: 0;
    bottom: 3px;
}

.form-wrap .send .bg {
    transition: .3s;
    position: absolute;
    z-index: 5;
    width: 9.9vw;
    /* width: 237px; */
    /* height: 48px; */
    height: 5vh;
    left: 3px;
    top: 3px;
    bottom: 0;
    background-color: #6A6A6A;
}

.form-wrap .send .front {
    position: absolute;
    width: 9.9vw;
    /* width: 237px; */
    /* height: 48px; */
    height: 5vh;
    z-index: 10;
    left: 0;
    bottom: 3px;
    background-color: #000000;
}

.form-wrap .send p {
    position: absolute;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    /* font-size: 16px; */
    font-size: 0.9vw;
    color: #ffffff;
    z-index: 15;
    bottom: 35%;
    left: 5%;
}

.form-wrap .send i {
    position: absolute;
    /* font-size: 20px; */
    font-size: 1.15vw;
    z-index: 10;
    right: 8%;
    bottom: 36%;
}


.form-wrap input {
    /*width: 520px;*/
    /*height: 41px;*/
    width: 27vw;
    height: 3.8vh;
}

.form-wrap .inputs {

}

.form-wrap input:last-child {
    /*width: 1634px;*/
    /*height: 230px;*/
    width: 100%;
    /*height: 21.3vh;*/
}